body {
  padding: 25px;
  background-color: grey;
  background-size: 100% auto;
  color: #fff;
}

img {
  width: 35%;
  margin-bottom: 0;
}

h3 {
  font-family: 'Kavoon', cursive;
}

.card {
  height: 250px;
}

.row {
  margin: 25px auto;
}

.hidden {
  display: none;
}

.card-action {
  height: 25px;
}

.card-attribute {
	float: right;
}

.object-header {
	width: 1080px;
	height: 130px;
	padding-left: 35%;
	
}

.object-home {
	width: 1080px;
	height: 900px;
	
}

#buttons-layout button {
  display: block;
  text-align: center;
  margin: 10px auto;
}

#result {
  margin: 50px 0 auto;
  text-align: center;
  font-size: 2em;
  height: 50px;
  font-family: 'Bangers', cursive;
}

#newBtn {
  margin-top: 25px;
  text-align: center;
}


